.main-nav-sandwich.js-open-close-menu
  .main-nav-sandwich__center

= link_to change_locale_path, class: "lang-switch ls-#{next_locale}" do
  %span.lang-switch-text= translate_locale(next_locale)

.main-nav-full
  .main-nav-full-image-wrap
    -# .main-nav-full-image.lazyload{'data-src': asset_path("map-menu.png")}
    -# .main-nav-full-image.lazyload{'data-src': asset_path("svg/menu-heads.svg")}
    -# %video.lazyload{'data-src': asset_path("home_vid.mp4"), loop: true, muted: true, preload: "auto", type: "video/mp4"}

  .main-nav-full-links
    -# %h2 menu

    - active = controller_name == 'pages' && action_name == 'about' ? "is-active" : ""
    = link_to about_path, class: "full-nav-link #{active}" do
      = t("menu.about")

    - active = controller_name == 'projects' && action_name == 'index' ? "is-active" : ""
    = link_to projects_path, class: "full-nav-link #{active}" do
      = t("menu.projects")

    - active = controller_name == 'logos' && action_name == 'index' ? "is-active" : ""
    = link_to logos_path, class: "full-nav-link #{active}" do
      = t("menu.logos")

    - active = controller_name == 'pages' && action_name == 'contacts' ? "is-active" : ""
    = link_to contacts_path, class: "full-nav-link #{active}" do
      = t("menu.contacts")




    %div
      = link_to contacts_path, class: "full-nav-link-small #{active}" do
        Shop
      = link_to contacts_path, class: "full-nav-link-small #{active}" do
        Social activity
      = link_to contacts_path, class: "full-nav-link-small #{active}" do
        Presentations