- content_for :title, t("seo.contacts.title")
- content_for :description, t("seo.contacts.description")

= render "partials/nav"

%main.p-contacts

  .c-gmap-wrap
    -# .c-gmap.js-gmap
    .c-gmap.js-gmap.lazyload{'data-src': asset_path("map-big.png")}

  .c-text-block.js-contacts-text

    .vcard{itemscope: "true", itemtype: "http://schema.org/NGO"}

      .hdn
        %img.logo.photo{src: asset_path("logo.png"), itemprop: "logo"}
        %a.u-url.url{href: "http://brendari.com", rel: "me", itemprop:"url"} Brendari
        %span.fn.org{itemprop: "name"} Brendari
        .pricerange $500 - $10000
        %span.category design

      .c-address.adr{itemprop: "address", itemscope: "true", itemtype: "http://schema.org/PostalAddress"}
        %span.street-address{itemprop: "streetAddress"} 11, Trynitarska
        %br
        %span{itemprop: "addressLocality"}
          %span.locality Ivano-Frankivsk,
          %span.country-name Ukraine,
        %span.postal-code{itemprop: "postalCode"} 76000

      <!--email_off-->
      .c-email.email{itemprop: "email"} hello@brendari.com
      <!--/email_off-->

      .c-phone.tel{itemprop: "telephone"}
        %span+38
        = SiteConfig.get(:phone)

    %ul.scls.c-socials
      = render "partials/socials"

    %ul.footer-links
      %li
        %a.footer-link.doc{href: SiteConfig.get(:brief_link)}= t("general.brief")

      %li
        %a.footer-link.pdf{href: SiteConfig.get(:presentation_link)}<
          = t("general.presentation")
          %span.accent
            PDF
