- content_for :title, t("seo.home.title")
- content_for :description, t("seo.home.description")

= render 'partials/nav'

- colors = ['#FFCC00', '#1E00DD', '#FF0000', '#FFA726', '#C10757'].shuffle

.home-desktop

  %img.big-logo{src: asset_path("svg/logo-white.svg"), alt: 'Brendari'}

  %section.big-plate
    .overflow-hdn
      %p.bp-studio-short= raw(t("home.slogan"))

      = link_to about_path, class: 'bp-link' do
        .bp-link-text= t("menu.about")
        %svg{class: "bp-shape", width: "10", height: "10", viewBox: "0 0 10 10", xmlns: "http://www.w3.org/2000/svg"}
          %circle{cx: "45", cy: "6", r: "4.5", transform: "translate(-40 -1)", stroke: "#F00", fill: "#F00", 'fill-rule': "evenodd"}

        .bp-hover__wrap
          .square
            .square__inner.bphi.bphi--brendari-all
          - @brendars.each_with_index do |b, i|
            .square
              .square__inner.bphi.bphi--brendar{style: "background-image: url(#{b.photo_url}); background-color: #{colors[i % colors.size]}"}

  .plate-divider
  %section.big-plate
    .overflow-hdn

      = link_to projects_path, class: 'bp-link' do
        .bp-link-text= t("menu.projects")
        %svg{class: "bp-shape", width: "9", height: "9", viewBox: "0 0 9 9", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M.5.5h8v8h-8z", stroke: "#F00", fill: "#F00", 'fill-rule': "evenodd"}
        .bp-hover__wrap
          - @projects.each do |p|
            .square
              .square__inner.bphi{style: "background-image: url(#{p.main_image_url})"}


  .plate-divider.plate-divider-2
  %section.big-plate
    .overflow-hdn

      %canvas#game

      = link_to logos_path, class: 'bp-link' do
        .bp-link-text= t("menu.logos")
        %svg{class: "bp-shape", width: "11", height: "11", viewBox: "0 0 11 11", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M5.5.63L.58 4.386 2.47 10.5h6.06l1.89-6.113L5.5.63z", stroke: "#F00", fill: "#F00", 'fill-rule': "evenodd"}
        .bp-hover__wrap
          - @logos.each do |l|
            .square
              .square__inner.bphi.bphi--logo{style: "background-image: url(#{l.image_gray_url})"}


  .plate-divider.plate-divider-3
  %section.big-plate
    .overflow-hdn

      = link_to contacts_path, class: 'bp-link' do
        .bp-link-text= t("menu.contacts")
        %svg{class: "bp-shape", width: "12", height: "10", viewBox: "0 0 12 10", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M6 9.028L.883.5h10.234L6 9.028z", stroke: "#F00", fill: "#F00", 'fill-rule': "evenodd"}
        .bp-hover__wrap
          .square
            .square__inner.bphi.bphi--map
          .square
            .square__inner.bphi.bphi--fb
          .square
            .square__inner.bphi.bphi--dr
          .square
            .square__inner.bphi.bphi--be
          .square
            .square__inner.bphi.bphi--in



.home-mobile

  %section.m-s.m-s-home
    %img.m-logo{src: asset_path("svg/logo-white.svg"), alt: 'Brendari'}
    %p.m-studio-short= raw(t("home.slogan"))

    <svg class="m-down" width="48" height="48" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M24 .5C36.979.5 47.5 11.021 47.5 24S36.979 47.5 24 47.5.5 36.979.5 24 11.021.5 24 .5z" stroke="#B7B7B7"/><path fill="#B7B7B7" d="M23.22 26.336l-3.72-3.622-.75.708 5 4.828 5-4.828-.75-.708-3.72 3.622V17.75h-1.06z"/></g></svg>

  %section.m-s
    %h2.m-title
      = link_to t("menu.projects"), projects_path
    .swipe.js-swipe
      .swipe-wrap
        - @projects.each do |p|
          = link_to p, class: "swipe-slide square" do
            .square__inner.bphi{style: "background-image: url(#{p.main_image_url})"}
      .dots

  %section.m-s
    %h2.m-title
      = link_to t("menu.projects"), logos_path
    .swipe.js-swipe
      .swipe-wrap
        - @logos.each do |l|
          .swipe-slide.square
            .square__inner.bphi{style: "background-image: url(#{l.image_gray_url})"}
      .dots

  %section.m-s
    %h2.m-title
      = link_to t("menu.about"), about_path
    .swipe.js-swipe
      .swipe-wrap
        .swipe-slide.square
          .square__inner.bphi.bphi--brendari-all
        - @brendars.each_with_index do |b, i|
          .swipe-slide.square
            .square__inner.bphi.bphi--brendar{style: "background-image: url(#{b.photo_url}); background-color: #{colors[i % colors.size]}"}
      .dots

  %section.m-s
    %h2.m-title
      = link_to t("menu.contacts"), contacts_path
    .swipe.js-swipe
      .swipe-wrap
        = link_to contacts_path, class: "swipe-slide square" do
          .square__inner.bphi.bphi--map
        = link_to SiteConfig.get(:fb), class: "swipe-slide square", rel: "noopener" do
          .square__inner.bphi.bphi--fb
        = link_to SiteConfig.get(:dribble), class: "swipe-slide square", rel: "noopener" do
          .square__inner.bphi.bphi--dr
        = link_to SiteConfig.get(:behance), class: "swipe-slide square", rel: "noopener" do
          .square__inner.bphi.bphi--be
        = link_to SiteConfig.get(:instagram), class: "swipe-slide square", rel: "noopener" do
          .square__inner.bphi.bphi--in
      .dots

  = render "partials/footer"
