- content_for :title, t("seo.home.title")
- content_for :description, t("seo.home.description")

.home-desktop

  = link_to change_locale_path, class: "lang-switch ls-#{next_locale}" do
    .lang-switch-text= translate_locale(next_locale)

  %object.big-logo{type: "image/svg+xml", data: asset_path("svg/logo.svg")}) Brendari
  %section.big-plate
    .overflow-hdn
      %p.bp-studio-short= raw(t("home.slogan"))
      .bp-link-wrap
        = link_to t("menu.about"), about_path, class: 'bp-link'
        %svg{class: "bp-shape", width: "10", height: "10", viewBox: "0 0 10 10", xmlns: "http://www.w3.org/2000/svg"}
          %circle{cx: "45", cy: "6", r: "4.5", transform: "translate(-40 -1)", stroke: "#F00", fill: "#F00", 'fill-rule': "evenodd"}
        %span.bp-red-line
      .bp-hover-wrap.bg-2men.load-now{'data-src': asset_path("about.jpg")}
  .plate-divider
    .plate-divide-cross
  %section.big-plate
    .overflow-hdn
      .bp-link-wrap
        = link_to t("menu.projects"), projects_path, class: 'bp-link'
        %svg{class: "bp-shape", width: "9", height: "9", viewBox: "0 0 9 9", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M.5.5h8v8h-8z", stroke: "#F00", fill: "#F00", 'fill-rule': "evenodd"}
        %span.bp-red-line
      .bp-hover-wrap.bg-cover.load-now{'data-src': asset_path("created.jpg")}
  .plate-divider.plate-divider-2
    .plate-divide-cross
  %section.big-plate
    .overflow-hdn

      .projects-number-wrap
        .projects-number-txt= t("home.all")
        .projects-number= @numbers_of_logos

      .bp-link-wrap.js-play-home-video
        = link_to t("menu.logos"), logos_path, class: 'bp-link'
        %svg{class: "bp-shape", width: "11", height: "11", viewBox: "0 0 11 11", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M5.5.63L.58 4.386 2.47 10.5h6.06l1.89-6.113L5.5.63z", stroke: "#F00", fill: "#F00", 'fill-rule': "evenodd"}
        %span.bp-red-line
      .bp-hover-wrap
        %video.home-video.load-now.js-home-video{'data-src': asset_path("home_vid.mp4"), loop: true, muted: true, preload: "auto", type: "video/mp4"}
  .plate-divider.plate-divider-3
    .plate-divide-cross
  %section.big-plate
    .overflow-hdn
      .bp-link-wrap
        = link_to t("menu.contacts"), contacts_path, class: 'bp-link'
        %svg{class: "bp-shape", width: "12", height: "10", viewBox: "0 0 12 10", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M6 9.028L.883.5h10.234L6 9.028z", stroke: "#F00", fill: "#F00", 'fill-rule': "evenodd"}
        %span.bp-red-line
      .bp-hover-wrap
        .gmap.js-gmap.js-map-no-ui

.home-mobile.swipe.js-swipe
  .swipe-wrap
    %section.mob-section
      .mobs
        %object{type: "image/svg+xml", data: asset_path("svg/logo.svg")} Brendari
        %p.mobs-studio-short= raw(t("home.slogan"))
    %section.mob-section.bg-2men.load-now{'data-src': asset_path("about.jpg")}
      %h2.mob-title= t("menu.about")
      = link_to t("home.explore"), about_path, class: 'btn-explore'
    %section.mob-section.bg-cover.load-now{'data-src': asset_path("created.jpg")}
      %h2.mob-title= t("menu.projects")
      = link_to t("home.explore"), projects_path, class: 'btn-explore'
    %section.mob-section.mob-section-video
      %video.home-mob-video.load-now.js-home-mob-video{'data-src': asset_path("home_vid.mp4"), loop: true, muted: true, playsinline: true, preload: "auto", type: "video/mp4"}
      %h2.mob-title= t("menu.logos")
      = link_to t("home.explore"), logos_path, class: 'btn-explore'
    %section.mob-section
      .gmap.js-gmap.js-map-no-ui
      %h2.mob-title= t("menu.contacts")
      = link_to t("home.explore"), contacts_path, class: 'btn-explore'

  = render "partials/nav"

  .mob-dots
    %svg.dot.js-mob-dot.is-active{height: "11", viewbox: "0 0 10 11", width: "10", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M4.98.648L.5 4.35v6.15h4.098V6.563h2.898V10.5H9.5V4.35L4.98.65z", fill: "#F00", 'fill-rule': "evenodd", stroke: "#F00"}
    %svg.dot.js-mob-dot{height: "10", viewbox: "0 0 10 10", width: "10", xmlns: "http://www.w3.org/2000/svg"}
      %circle{cx: "45", cy: "6", fill: "#F00", 'fill-rule': "evenodd", r: "4.5", stroke: "#F00", transform: "translate(-40 -1)"}
    %svg.dot.js-mob-dot{height: "9", viewbox: "0 0 9 9", idth: "9", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M.5.5h8v8h-8z", fill: "#F00", 'fill-rule': "evenodd", stroke: "#F00"}
    %svg.dot.js-mob-dot{height: "11", viewbox: "0 0 11 11", width: "11", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M5.5.63L.58 4.386 2.47 10.5h6.06l1.89-6.113L5.5.63z", fill: "#F00", 'fill-rule': "evenodd", stroke: "#F00"}
    %svg.dot.js-mob-dot{height: "10", viewbox: "0 0 12 10", width: "12", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M6 9.028L.883.5h10.234L6 9.028z", fill: "#F00", 'fill-rule': "evenodd", stroke: "#F00"}
