- @projects.each do |project|
  = link_to project_path(project), class: "msnry-item msnry-item-#{project.size}" do
    .msnry-aspect-inner{style: "background: #{project.main_image_color}"}

      - src = project.main_image_url
      - case project.size
      - when '2x2'
        - src = resize(project.main_image_url, w: 1920, h: 1280, ext: 'jpg')
      - when "1x1"
        - src = resize(project.main_image_url, w: 960, h: 640, ext: 'jpg')
      - when "1x2"
        - src = resize(project.main_image_url, w: 960, h: 1280, ext: 'jpg')
      - when "2x1"
        - src = resize(project.main_image_url, w: 1920, h: 640, ext: 'jpg')

      .msnry-item-bg.lazyload{'data-src': src}

      - unless request.xhr?
        %noscript
          %img.msnry-logo{src: project.main_image_url}
        .msnry-item-title= project.title
        .msnry-item-dscr= project.subtitle
