- @projects.each do |project|
  = link_to project_path(project), class: "msnry-item msnry-item-#{project.size}" do
    .msnry-aspect-inner{style: "background: #{project.main_image_color}"}

      .msnry-item-bg.lazyload{'data-src': resized_grid_image(project.size, project.main_image_url)}

      - unless request.xhr?
        %noscript
          %img.msnry-logo{src: project.main_image_url}
        .msnry-item-title= project.title
        .msnry-item-dscr= project.subtitle
