%nav{class: "main-nav js-menu"}

  .main-nav-mobi-wrap
    = link_to projects_path, class: "main-nav-back" do
      %svg{:height => "9", :width => "21", :xmlns => "http://www.w3.org/2000/svg"}
        %g{:fill => "none", "fill-rule" => "evenodd", :stroke => "#9E9E9E"}
          %path{:d => "M.5 4.5h5v4h-5zM.5.5h5v4h-5zM5.5 4.5h5v4h-5zM5.5.5h5v4h-5zM10.5.5h10v8h-10z"}

      = t("menu.back-to-grid")

    = render 'partials/nav_other'

  %header.main-nav-header
    %h1.main-nav-h1= @project.title
    %p.main-nav-h2= @project.subtitle