- content_for :title, @project.seo_title || @project.title
- content_for :description, @project.seo_description || @project.subtitle

- content_for :logo_color, @project.text_color
:css
  body, .main-nav {
    background-color: #{@project.background_color};
    color: #{@project.text_color};
  }

= render "partials/nav"

%main.rich-text
  %h1= @project.title
  %h2= @project.subtitle
  = raw @project.body

= render "partials/footer"
