- content_for :title, @project.seo_title || @project.seo_title
- content_for :description, @project.seo_description

= render "partials/nav"

%main.rich-text
  %h1= @project.title
  %h2= @project.subtitle
  = raw @project.body

= render "partials/footer"
