!!!
%html{lang: I18n.locale}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equi": "Content-Type"}/
    = csrf_meta_tags
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    = render 'partials/meta_tags'

    - if Rails.env.production?
      %style
        = File.read(File.join(Rails.root, 'public', asset_path('application', type: :stylesheet))).html_safe
    - else
      = stylesheet_link_tag 'application', media: 'all'

  %body{data: {gmap_api_key: SiteConfig.get(key: 'GMAPS_API_KEY')}}
    #barba-wrapper
      .barba-container
        = yield
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
